<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'slide-image-1.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find the best ski hire shops</h3>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'slide-image-2.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>We provide unbiased reviews so you can make the right choice.</h3>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'slide-image-3.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Add your own comments from your experiance!</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


    <% @places.each do |place| %>
      <div class="card mb-3">
        <div class="card-header">
          <h2 class=""><%= link_to place.name, place_path(place) %></h2>
        </div>
        <div class="card-body">
          <div class="row">
            <% if place.photos.last.present? %>
              <div class="col-4">
                <%= image_tag place.photos.last.picture, class: 'rounded index-img' %>
              </div>
            <% end %>
          <div class="col-8">           
            <i class="card-text"><%= place.address %></i>
            <br />
            <br />
            <h5 class="card-text"><%= place.description %></h5>
            <% if place.user.present? %>
              <p class="card-text"><small class="text-muted"><%= place.user.email %></small></p>
            <% end %>
            <% if place.comments.present? %>
            <div class="col-12">
              <blockquote>
                <% if place.comments.last.humanized_rating.present? %>
                  <b><%= place.comments.last.humanized_rating %></b><br />
                <% end %>
                <%= place.comments.last.message %><br />
                <small><%= place.comments.last.user.email %></small><br />
              </blockquote>
            </div>
          <% end %>  
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<%= will_paginate @places, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>